* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(18, 18, 18);
    margin: 0;
}

main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

article {
    display: flex;
    background-color: rgba(255, 255, 255, 0.09);
    width: 20%;
    flex-grow: 1;
    flex-basis: auto;
    margin: 4px;
    padding: 8px;
}

img {
    width: 100%;
}


