* {
    box-sizing: border-box;
    margin: 0;
    color: rgb(237, 237, 237);
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(18, 18, 18);
}

nav {
    display:flex;
    margin: 0 4px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 100;
    background-color: rgb(18, 18, 18);
}

nav:hover {
    background-color: rgb(31, 31, 31)
}

nav:focus-within {
    background-color: rgb(44, 44, 44);
}

nav form {
    background-color: rgba(255, 255, 255, 0.09);
}

label {
    display: none
}

input {
    flex-basis: 100%;
    background-color: rgba(255, 255, 255, 0.09);
    outline: none;
    border: none;
    margin: 8px 0 8px 8px;
    padding: 4px;
    font-size: 1.17em;
    cursor: pointer;
}

input:hover {
    background-color: rgba(255, 255, 255, 0.09);
}

input:focus {
    background-color: rgba(255, 255, 255, 0.12);
}

.nav_buttons {
    display: flex;
    flex-grow: 1;
    margin: 8px 8px 8px 0;
}

main {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    background-color: rgb(18, 18, 18);
    margin: 3em 0 0 0;
}

article {
    display: flex;
}

@media screen and (min-width: 0px) {
    article {
        flex-basis: 100%;
    }
}

@media screen and (min-width: 721px) {
    article {
        flex-basis: 50%;
    }
}

@media screen and (min-width: 1281px) {
    article {
        flex-basis: 25%;
    }
}

@media screen and (min-width: 1921px) {
    article {
        flex-basis: 14.28%;
    }
}

article section {
    display: flex;
    flex-grow: 1;
    background-color: rgba(255, 255, 255, 0.05);
    flex-direction: column;
    padding: 8px;
    margin: 4px;

}

article section:hover {
    background-color: rgba(255, 255, 255, 0.09);
}

a {
    position: relative;
    max-width: 100%;
    overflow: hidden;
}

form {
    flex-grow: 1;
    display: flex;
}

img {
    width: 100%;
    height: 100%;
    transform: scale(1.03);
}

p {
    position: absolute;
    font-size: 1.17em;
    margin: 4px;
    padding: 0;
    flex-grow: 1;
}

article:hover img{
    filter: blur(4px) opacity(25%) brightness(0.5);
    transition-duration: 0.2s;
}

menu {
    display: flex;
    padding: 0;
}

button {
    flex-grow: 1;
    flex-basis: 0;
    background-color: rgba(255, 255, 255, 0.09);
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: rgba(255, 255, 255, 0.16);
}

li {
    display: flex;
    flex-grow: 1;
    flex-basis: 0;
    list-style-type: none;
}



