<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Battlemap Searcher</title>
    <link rel="stylesheet" href="{{ url_for("static", filename='main.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for("static", filename='favicon.ico') }}"/>
</head>
<body>

    <nav>
        <form method="get" action="/">>
            <label for="tags">Tags: </label>
            <input type="text" id="tags" name="tags" value="{{ tags }}">
            <button type="submit">Search</button>
            {% if previous_page %}
            <button type="submit" name="page" value="{{ previous_page }}">Previous Page</button>
            {% endif %}
            {% if next_page %}
            <button type="submit" name="page" value="{{ next_page }}">Next Page</button>
            {% endif %}
        </form>
    </nav>
    <main>
        {% for battlemap in maps %}
            <article id="{{ battlemap.id }}">
                <section>
                <a href="{{ battlemap.path }}">
                    <p title="Map Information">
                        Title: {{ battlemap.name|replace("_", " ") }}<br>
                        {% if not battlemap.square_width %}
                        Width: {{ battlemap.width }}<br>
                        Height: {{ battlemap.height }}<br>
                        {% else %}
                        Square Width: {{ battlemap.square_width }}<br>
                        Square Height: {{ battlemap.square_height }}<br>
                        {% endif %}
                        Tags: {{ battlemap.tags|join(", ") }}
                    </p>
                    <img src="{{battlemap.thumbnail_path}}" alt="{{ battlemap.name }}">
                </a>
                <menu>
                    <li>
                        <form action="{{ url_for(".get_map_image", map_id = battlemap.id) }}">
                            <button type="submit">Download</button>
                        </form>
                    </li>
                    <li>
                        <button type="button" onclick="get_map('{{ url_for(".get_map", map_id=battlemap.id) }}', '{{ battlemap.id }}')">Foundry</button>
                    </li>
                    <li>
                        <button type="button" onclick="delete_map('{{ url_for(".delete_map", map_id=battlemap.id) }}', '{{ battlemap.id }}')">Delete</button>
                    </li>
                </menu>
                </section>
            </article>
        {% endfor %}
    </main>
    <script src="{{ url_for("static", filename="rest.js") }}"></script>
</body>
</html>