<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Battlemap Searcher</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}"/>
</head>
<body>
    <nav>
        <form method="get" action="/">>
            <label for="tags">Tags: </label>
            <input type="text" id="tags" name="tags">
            <button type="submit">Search</button>
        </form>
    </nav>
    <main>
        {% for map in maps %}
            <article>
                <a href="{{ map.path }}">
                    <img src="{{map.thumbnail_path}}" alt="{{ map.name }}">
                </a>
            </article>
        {% endfor %}

    </main>
    <footer>

    </footer>
</body>
</html>